html, body { margin: 0; padding: 0; white-space: nowrap;}

table { border-collapse: collapse; height: 99%; width: 99%; }

td { border: 1px solid black; }

.herbe { background: green; }

.shoot { background: black; }

.obstacle { background: brown; }

.red_player { background: red; }

.blue_player { background: blue; }

.purple_player { background: purple; }

.yellow_player { background: yellow; }
