.pop_up
{
  background : rgb(140, 253, 142);
  position: absolute;
  height: 40vw; width: 60vw;
  top: 15vw; left: 20vw;
  border-radius: 15px;
  font-size: 1vw;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.pop_up .close
{
  position: relative;
  top: 2vw; left: 2vw;
  width: 2vw; height: 2vw;
  cursor: pointer;
}

.pop_up p
{
  text-align: center;
  width: 50vw;
  margin-left: 4vw;
}

.pop_up .reponse {
  text-decoration: none;
  color: black;
  position: relative;
  left: 2vw;
  list-style-type: disc;
  display: list-item;
}

.pop_up .reponse:hover {
  text-decoration: underline;
}
